
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* nav items style start */
body{
    font-family: "Open Sans", sans-serif;
}
/* nav items style */
.nav-items{
    display: flex;
    justify-content: space-between;
    margin: 20px 130px;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 28px;
    color:rgb(13, 19, 33);
}

/* btn container */
.btn{
    text-decoration: none;
    width: 200px;
    height: 58px;
    color:rgb(255, 255, 255) ;
    background-color:rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding-top: 20px;
    
}

.btn-secondary{
    width: 150px;
    height: 50px;
    border: 1px solid #0D1321;
    border-radius: 8px;
    color:white;
    background-color: #0D1321;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
}
/* hero styles */
.hero-description{
    font-size: 16px;
    font-weight: 400px;
    color:rgb(13, 19, 33);
}

.hero-container{
    width: 1152px;
    height: 652px;
    margin-top: 30px;
    padding-top: 25px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;

}
.hero-content{
    width: 798px;
    height: 540px; 
    margin:0 auto;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.hero-img{
    width: 240px ;
    height:240px;
}
.hero-description{
    font-size:13px ;
    font-weight: 400;
    line-height: 20px;
    color:#0D1321;
}
.hero-title{
    font-weight: 800;
    font-size: 32px;
}
/* development container styles */
.development-container{
    width: 1000px;
    height: 1200px;
    margin:0 auto;
    margin-top: 70px;
    background-color: rgba(13, 19, 33, 0.03);
    border-radius: 8px;
    margin-bottom: 88px;
}
.development-content{
    width: 800px;
    height: 130px;
    margin: 0 auto;
    text-align: center;


}
.development-title{
        font-size: 32px;
         font-weight: 800;
         margin-bottom: 15px;
}
.development-description{
    font-weight: 400;
    font-size: 11px;
}
/* web development items start */
.development-items1{
    width: 900px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.development{
    width: 477px;
    height:200px;
}
/* btn syeles */
.btn-type{
    width: 170px;
    height: 40px;
    border: 1px solid rgba(13, 19, 33,0.7);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border-radius: 4px;
    display: block;
    margin-top: 30px;
    padding-top: 3px;
}
.btn-type > a{
    text-decoration: none;
    color:rgb(13, 19, 33);
    text-align: center;
}
.develppment-item1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:28px;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
    border-radius: 8px;

}
.development-items2{
    width: 900px;
    height: 250px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 32px;
    padding:30px;
}
.development-items2{
    display: flex;
    align-items: center;
    gap:40px;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    border-radius: 8px;
    padding:30px;
    margin-right: 90px;
}
.development-items3{
    width: 900px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
    border-radius: 8px;
}
.development-item3{
    width: 470px;
    height: 200px;
}
/* inspiration section style */
.inspiratio-container{
    width: 1000px;
    height: 770px;
    margin: 0 auto;
    margin-bottom: 151px;
}
.inspiration-content{
    text-align: center;
    width:852px ;
    height: 115px;
    margin: 0 auto;
}
.inspiration-description{
    font-size: 16px;
    font-weight: 400;
    color:rgb(13, 19, 33);
}
/* my current taget  */
.current-target-container{
    width: 1000px;
    height: 460px;
    margin:0 auto;
}
.target{
    width: 852px;
    height: 113px;
    text-align: center;
    margin: 0 auto;
}
/* my current skills container */
.skill{
    width: 360px;
    height: 290px;
    padding: 28px;
    padding-top: 50px;
}
.html-skill{
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    
}
.css-skill{
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
}
.js-skill{
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
}

.skills{
    display: flex;
    gap:25px;
    margin-top: 50px;

}
.skill-description{
    font-size: 16px;
    margin-top: 3px;
}
/* my inspiration section */
iframe{
    margin-top: 40px;
    padding:40px;
    border:1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
/* next target skills container */
.next-target{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
}
.next-target-container{
    width: 1000px;
    height: 866px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 49px;
}
.next-target-skills-container{
    width: 1000px;
    height: 705px;
    margin-top: 40px;
}
.reactjs-skill{
    border: 1px solid rgba(13, 19, 33, 0.15);
    width: 950px;
    height: 190px;
    display: flex;
    align-items: center;
    gap:30px;
    border-radius: 16px;
    padding: 15px;
    margin-bottom:24px ;
}
.react-img{
 width: 90px;
 height: 80px;
}
.nodejs-skill{
    border: 1px solid rgba(13, 19, 33, 0.15);
    width: 950px;
    height: 190px;
    display: flex;
    align-items: center;
    gap:30px;
    border-radius: 16px;
    padding: 15px;
    margin-bottom:24px ;
}
.nodejs-img{
    width: 140px;
    height: 80px;
}
.mongodb-skill{
    border: 1px solid rgba(13, 19, 33, 0.15);
    width: 950px;
    height: 190px;
    display: flex;
    align-items: center;
    gap:30px;
    border-radius: 16px;
    padding: 15px;
    

}
.mongodb-img{
    width: 100px;
    height: 100px;
}
/* support container styles */
.support-title{
    color:rgb(255, 255, 255);
}
.support-description{
    color:rgb(255, 255, 255);
    font-size: 10px;
    margin-bottom: 15px;
}
.support-container{
    width: 1000px;
    height: 310px;
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.5) ;
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    border-radius: 16px;
    background-blend-mode: overlay;
}
.support-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:68px 48px;

}
div > input[type="text"]{
    width:330px;
    height:30px;
    padding:7px;
    border-radius: 10px;
    padding-left: 28px;
    border:none;
}
.btn-submit{
    width:100px;
    height: 45px;
    border-radius: 10px;
    color:rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    border:none;
}

/* footer styels */
.github-icon{
    margin-left: 15px;
    margin-right: 15px;
}
.footer-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1152px
    height: 100px;
    background-color: rgba(13, 19, 33, 0.03);
    margin-top: 80px;

}
.social-media-icons{
    margin:15px 90px;
}
.footer-title{
    margin:15px 90px;
}